*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #333;
}

h1 { 
    text-align: center;
    padding: 25px 0;
    color: #f1F1F1;
}

h4 {
    text-align: center;
    color: #f1F1F1;
}

.recherche-poke {
    max-width: 700px;
    width: 70%;
    min-width: 450px;
    margin: 30px auto;
    position: relative;
    display: flex;
}

.inp-group {
    width: 100%;
}

.recherche-poke input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 18px;
}

.recherche-poke label {
    position: absolute;
    color: #333;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 8px;
    transition: all 0.3s ease-in;
}

.recherche-poke button {
    margin-left: 5px;
    padding: 15px;
}

/* Animation input */

.recherche-poke:focus-within label,
.recherche-poke.active-input label {
    top: -15px;
    padding-left: 5px;
    color: #f1F1F1;

}

/* liste des cartes */

.container {
    width: 70%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.liste-poke li {
    width: 250px; 
    height: 250px; 
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   
}

.liste-poke img {
    width: 60%; 
    max-height: 180px; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.liste-poke h5 {
    position: absolute;
    font-size: 19px;
    bottom: 10px; /* Position a partir du bas  */
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px); /* Réduit la largeur pour tenir compte du padding */
    text-align: center; 
}

.liste-poke p {
    font-size: 18px;
    position: absolute;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px); /* Réduit la largeur pour tenir compte du padding */
    text-align: center; 
}


.hidden {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

.active {
    opacity: 1;
    transform: scale(1);  
}
/* anim loader */

.loader {
    position: absolute;
    top: 250px;
    left: 50%;
    transform:translateX(-50%);
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f1F1F1;
    animation: monte 0.3s alternate infinite;
}

.point:nth-child(1){
    animation-delay: 0.1s;
}
.point:nth-child(2){
    animation-delay: 0.2s;
}
.point:nth-child(3){
    animation-delay: 0.3s;
}


@keyframes monte {
    100% {
        transform: translateY(-30px);
    }
}